<nav aria-label="Main navigation" class="main-navigation">
  <div class="navigation-logo">
    <a href="/" class="vm-logo" aria-label="Valentina Montagna — go to homepage"{% if page.url == "/" %} aria-current="page"{% endif %}>
    <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
      <path class="st0" d="M25,0C11.19,0,0,11.19,0,25s11.19,25,25,25,25-11.19,25-25S38.81,0,25,0ZM41.2,21.39c-1.45,3.21-5.73,5.15-9,5.15-.34,0-.67-.02-.98-.06-3.62,6.88-9.29,13.52-12.71,13.52-2.01,0-2.9-1.48-2.9-3.65,0-2.77,2.77-23.32,2.92-24.45.03-.23-.1-.44-.31-.45-.23,0-.37.1-.51.34-1.1,1.99-5.81,9.26-7.94,9.26-.84,0-1.29-.5-1.29-1.2,0-2.94,7.95-9.86,11.19-9.86,1.76,0,2.39,1.28,2.07,3.31-.36,2.31-3.34,20.42-3.69,23.01-.06.45-.05,1.03.04,1.37.17.61.56.82,1.02.82,2,0,6.21-6.34,9.09-13.15-2.48-1.65-3.79-4.77-3.79-7.57,0-4.01,2.22-7.69,5.56-7.69,3.11,0,4.61,2.22,4.61,5.8,0,2.56-1.1,5.94-2.76,9.36,3.41-.01,5.61-4.13,6.12-5.03.66-1.17,1.24-1.91,2.23-1.91,1.27,0,1.68,1.58,1.01,3.06Z"/>
      <path class="st0" d="M29.77,11.47c-1.53,0-2.17,2.85-2.17,5.7,0,2.55.44,4.85,1.36,6.35,1.33-3.49,2.23-6.95,2.23-9.62,0-1.53-.49-2.42-1.42-2.42Z"/>
    </svg>
    <span class="logo-label" aria-hidden="true">Portfolio Home</span>
    </a>
  </div>
  <div class="navigation-menu">
    <ul class="navigation-links">
      <li><a href="/about/"{% if page.url == "/about/" %} aria-current="page"{% endif %}>About me</a></li>
      {# <li><a href="/design-notes/"{% if page.url == "/design-notes/" %} aria-current="page"{% endif %}>Design notes</a></li> #}
      <li><a href="/other-projects/"{% if page.url == "/other-projects/" %} aria-current="page"{% endif %}>Other projects</a></li>
    </ul>
    <a href="/contact/" class="primary-button">
      Get in contact!
    </a>
  </div>
  <details class="mobile-nav">
    <summary class="mobile-menu-button primary-button">Menu</summary>
    <div class="mobile-menu-panel">
      <ul class="navigation-links">
        <li><a href="/about/"{% if page.url == "/about/" %} aria-current="page"{% endif %}>About me</a></li>
        {# <li><a href="/design-notes/"{% if page.url == "/design-notes/" %} aria-current="page"{% endif %}>Design notes</a></li> #}
        <li><a href="/other-projects/"{% if page.url == "/other-projects/" %} aria-current="page"{% endif %}>Other projects</a></li>
        <li><a href="/contact/"{% if page.url == "/contact/" %} aria-current="page"{% endif %}>Get in contact!</a></li>
      </ul>
    </div>
  </details>
</nav>
