---
layout: base
has_sidebar: true
---

<article class="note-detail">
  <h1 class="note-detail-title">{{ title }}</h1>
  <div class="note-detail-meta">
    {% if date %}<time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>{% endif %}
    {% if description %}<p class="note-detail-description">{{ description }}</p>{% endif %}
  </div>
  {{ content | safe }}
</article>
