---
layout: base
has_sidebar: true
---

<article class="project-detail content-layout">
  <header class="project-detail-header">
    <h1 class="project-detail-title">{{ title }}</h1>
    <div class="project-detail-meta">
      <time datetime="{{ date }}">{{ date | monthYear }}</time>
      <span class="company">{{ company }}</span>
    </div>
  </header>
  {{ content | safe }}
</article>
