---
layout: base.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - projects
    - designNotes
permalink: /tags/{{ tag | slugify }}/
eleventyComputed:
  title: 'Projects tagged “{{ tag }}”'
---

<section class="tag-page">
  <h1>Projects tagged "{{ tag }}"</h1>
  <ul>
    {% set taggedProjects = collections[tag] %}
    {% for project in taggedProjects %}
      <li>
        {% if project.data.case_study %}
          <a href="{{ project.url }}">{{ project.data.title }}</a>
        {% else %}
          {{ project.data.title }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</section>