---
layout: base.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - projects
    - designNotes
permalink: /tags/{{ tag | slugify }}/
---

<section class="tag-page">
  <h1>Projects tagged "{{ tag }}"</h1>
  <ul>
    {% set taggedProjects = collections[tag] %}
    {% for project in taggedProjects %}
    <li>
      <a href="{{ project.url }}">{{ project.data.title }}</a>
    </li>
    {% endfor %}
  </ul>
</section>